@model CourseVM
@{
    ViewData["Title"] = "SingleCourse";
}
<link href="~/lib/owl-carousel/assets/owl.carousel.css" rel="stylesheet" />
<link href="~/lib/owl-carousel/assets/owl.theme.default.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/single-course.css">

<div class="container">
    <div class="row">
        <div class="left-container col-lg-3">
            <ul>
                @if (ViewBag.SignedInUserId == Model.CourseUser.AppUserId)
                {
                    <li><a style="color:black;" asp-controller="Video" asp-action="List" asp-route-id="@Model.Course.ID">Video<span>@Model.Course.Videos.Where(x => x.CourseId == Model.Course.ID).Count()</span></a> </li>
                    <li><a style="color:black;" asp-action="List" asp-controller="DidacticMaterial" asp-route-id="@Model.Course.ID">Didaktik material<span>@Model.Course.DidacticMaterials.Where(x => x.CourseId == Model.Course.ID).Count()</span></a></li>
                    <li><a style="color:black;" asp-action="OwnSillabus" asp-controller="Sillabus" asp-route-id="@Model.Course.ID">Sillabus<span>@Model.Course.Sillabus.Where(x => x.CourseId == Model.Course.ID).Count()</span></a></li>
                    <li><a style="color:black;" asp-action="OwnQuizzes" asp-controller="Quiz" asp-route-id="@Model.Course.ID">Kuiz<span>@Model.Course.Quizzes.Where(x => x.CourseId == Model.Course.ID).Count()</span></a></li>
                }
                @if (ViewBag.SignedInUserId != Model.CourseUser.AppUserId)
                {
                    <li><a style="color:black;" asp-controller="Video" asp-action="PlayingVideo" asp-route-id="@Model.Course.ID">Video<span>@Model.Course.Videos.Where(x => x.CourseId == Model.Course.ID).Count()</span></a> </li>
                    <li><a style="color:black;" asp-action="List" asp-controller="DidacticMaterial" asp-route-id="@Model.Course.ID">Didaktik material<span>@Model.Course.DidacticMaterials.Where(x => x.CourseId == Model.Course.ID).Count()</span></a></li>
                    <li><a style="color:black;" asp-action="List" asp-controller="Sillabus" asp-route-id="@Model.Course.ID">Sillabus<span>@Model.Course.Sillabus.Where(x => x.CourseId == Model.Course.ID).Count()</span></a></li>
                    <li><a style="color:black;" asp-action="QuizList" asp-controller="Quiz" asp-route-id="@Model.Course.ID">Kuiz<span>@Model.Course.Quizzes.Where(x => x.CourseId == Model.Course.ID).Count()</span></a></li>
                }
            </ul>
        </div>
        <div class="right-container col-lg-9">
            <div class="header">
                <div class="author">
                    <img src="~/images/profilePhotos/@Model.CourseUser.AppUser.Image" alt="author photo">
                    <span>@Model.CourseUser.AppUser.Name @Model.CourseUser.AppUser.Surname</span>
                </div>
                <div class="category">
                    <span>Kateqoriya:</span><span style="color: #333333; font-weight: 600;">@Model.Course.Category.Name</span>
                </div>
            </div>
            <span class="course-price">@Model.Course.Amount</span>
            <div class="course-image">
                <img src="~/images/courses/@Model.Course.Image" alt="">
            </div>
            @if (ViewBag.SignedInUserId == Model.CourseUser.AppUserId)
            {
                <div class="course-tab-content">
                    <ul id="tab-content-nav" onclick="tabContentClick.call(this)" class="tab-content-nav">
                        <li class="selected"><a asp-action="OwnDidactic" asp-controller="DidacticMaterial" asp-route-id="@Model.Course.ID" style="color:#ffffff;">Didaktik Material</a></li>
                        <li class=""><a asp-action="OwnSillabus" asp-controller="Sillabus" asp-route-id="@Model.Course.ID" style="color:#ffffff;">Sillabus</a></li>
                        <li class=""><a asp-action="OwnQuizzes" asp-controller="Quiz" asp-route-id="@Model.Course.ID" style="color:#ffffff;">Kuiz</a></li>
                    </ul>
                    
                </div>
            }
            @if(ViewBag.SignedInUserId != Model.CourseUser.AppUserId) {
            <div class="course-tab-content">
                <ul id="tab-content-nav" onclick="tabContentClick.call(this)" class="tab-content-nav">
                    <li class="selected"><a asp-action="List" asp-controller="DidacticMaterial" asp-route-id="@Model.Course.ID" style="color:#ffffff;">Didaktik Material</a></li>
                    <li class=""><a asp-action="List" asp-controller="Sillabus" asp-route-id="@Model.Course.ID" style="color:#ffffff;">Sillabus</a></li>
                    <li class=""><a asp-action="QuizList" asp-controller="Quiz" asp-route-id="@Model.Course.ID" style="color:#ffffff;">Kuiz</a></li>
                </ul>
            </div>
            }
        </div>
        <div class="col-md-12 pt-5" style="text-align:center;">
            <h3>Videolar</h3>
        </div>
        <div class="owl-carousel owl-theme" style="display:block; padding:25px 0 50px 0; ">
            @foreach (var video in Model.Videos)
            {
                <div class="img">
                    <form method="post" asp-controller="Video" asp-action="ViewCount" asp-route-id="@video.ID">
                        <button style="border:none; background-color:transparent; cursor:pointer;" type="submit">
                            <div class="card-caption">
                                <div class="card-style">
                                    <video class="video-secondary-video" style="height:175px; width:100%;" autoPictureInPicture controlslist>
                                        <source src="~/videos/@video.Path" type="video/mp4">
                                    </video>
                                    <h5 style="padding-bottom:15px; font-size:1rem; font-weight:bold;">@video.Title</h5>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
            }
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.slim.min.js"></script>
<script src="~/lib/owl-carousel/owl.carousel.min.js"></script>
<script src="~/lib/script.js"></script>